<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.first.demo.User.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.first.demo.User.entity.User">
            <result column="USER_ID" jdbcType="BIGINT" property="userId"/>
            <result column="USERNAME" jdbcType="VARCHAR" property="userName"/>
            <result column="CNNAME" jdbcType="VARCHAR" property="cnName"/>
            <result column="PASSWORD" jdbcType="VARCHAR" property="password"/>
            <result column="EMAIL" jdbcType="VARCHAR" property="email"/>
            <result column="MOBILE" jdbcType="VARCHAR" property="mobile"/>
            <result column="STATUS" jdbcType="VARCHAR" property="status"/>
            <result column="CREATE_USER_ID" jdbcType="VARCHAR" property="createUserId"/>
            <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime"/>
            <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime"/>
    </resultMap>
    <resultMap id="UserRoleDto" type="com.first.demo.User.dto.SysUserRoleDto">
        <result column="USER_ID" jdbcType="BIGINT" property="userId"/>
        <result column="USERNAME" jdbcType="VARCHAR" property="userName"/>
        <result column="CNNAME" jdbcType="VARCHAR" property="cnName"/>
        <result column="MOBILE" jdbcType="VARCHAR" property="mobile"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
        <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime"/>
        <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName"/>
        <result column="ROLE_ID" jdbcType="VARCHAR" property="roleId"/>
        <result column="PASSWORD" jdbcType="VARCHAR" property="passWord"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Tue Jan 08 10:05:38 CST 2019.
        -->
        user_id, username, cnname,password, email, mobile, status, create_user_id, create_time
    </sql>
    <insert id="insertUser" parameterType="com.first.demo.User.dto.SysUserRoleDto">
     INSERT INTO SYS_USER
     (USER_ID,USERNAME,CNNAME,PASSWORD,MOBILE,STATUS,CREATE_USER_ID,CREATE_TIME)
     VALUES
     (SYS_USER_SEQUENCE.nextval,#{sysUserRoleDto.userName,jdbcType=VARCHAR},#{sysUserRoleDto.cnName,jdbcType=VARCHAR},#{sysUserRoleDto.passWord,jdbcType=VARCHAR},#{sysUserRoleDto.mobile,jdbcType=VARCHAR},
     #{sysUserRoleDto.status,jdbcType=VARCHAR},#{sysUserRoleDto.createUserId,jdbcType=VARCHAR},#{sysUserRoleDto.createTime,jdbcType=VARCHAR}
     )
  </insert>
    <update id="updateUser" parameterType="com.first.demo.User.dto.SysUserRoleDto">
     update sys_user
      set CNNAME = #{sysUserRoleDto.cnName,jdbcType=VARCHAR},
          MOBILE = #{sysUserRoleDto.mobile,jdbcType=VARCHAR},
          UPDATE_TIME = #{sysUserRoleDto.updateTime,jdbcType=VARCHAR}
      where USERNAME = #{sysUserRoleDto.userName,jdbcType=VARCHAR}
  </update>
    <update id="updateUserPassword" parameterType="com.first.demo.User.entity.User">
       update sys_user
       set PASSWORD=#{sysUser.passWord,jdbcType=VARCHAR}
       where USER_ID=#{sysUser.userId,jdbcType=VARCHAR}
    </update>
    <delete id="delUser" parameterType="string">
      delete from sys_user
      where USER_ID=#{userId}
    </delete>
    <select id="listSelectUser" resultType="com.first.demo.User.entity.User">
    select * from sys_user
  </select>

    <select id="selectSysUser" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from SYS_USER
        where username=#{username}
    </select>

    <select id="listUsers" resultMap="UserRoleDto" parameterType="com.first.demo.util.Query">
        select u.USER_ID,u.USERNAME,u.CNNAME,u.MOBILE,u.CREATE_TIME,u.STATUS,r.ROLE_NAME from sys_user u
        left join sys_user_role ur
        on u.user_id=ur.user_id
        left join sys_role r
        on ur.role_id=r.role_id
        <if test="query.search!=null and query.search!='' ">
            WHERE u.CNNAME like concat(concat('%',#{query.search}),'%')
        </if>
        order by u.USER_ID
    </select>
    <select id="findUserByUserId" resultMap="UserRoleDto" parameterType="java.lang.String">
    select u.USER_ID,u.USERNAME,u.CNNAME,u.MOBILE,u.CREATE_TIME,u.STATUS,r.ROLE_NAME,r.ROLE_ID from sys_user u
    left join sys_user_role  ur
    on u.user_id=ur.user_id
    left join sys_role r
    on ur.role_id=r.role_id
    WHERE u.USER_ID=#{userId}
  </select>
    <!--查询用户的中文名-->
    <select id="selectUsername" resultType="java.lang.String">
        select cnname from sys_user  where  user_id = #{userId}
    </select>

</mapper>