<!DOCTYPE html>
<html>
<head>
    <title>任务管理</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/plugins/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="../public/plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/plugins/layui-2/css/layui.css">

</head>

<body>
<div id="dtapp" v-cloak>

    <div v-show="showList">
        <div id="toolbar">
            <button v-if="hasPermission('sys:role:save')" class="btn btn-success " type="button" @click="add">
                <i class="fa fa-plus"></i>&nbsp;&nbsp;<span class="bold">新增</span>
            </button>

            <button v-if="hasPermission('sys:role:update')" class="btn btn-success " type="button" @click="update">
                <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;<span class="bold">修改</span>
            </button>
            <button v-if="hasPermission('sys:role:delete')" class="btn btn-danger " type="button" @click="del">
                <i class="fa fa-remove"></i>&nbsp;&nbsp;<span class="bold">删除</span>
            </button>
            <button v-if="hasPermission('sys:role:divid')" class="btn btn-warning" type="button" @click="roleAllot">
                <i class="fa fa-anchor"></i>&nbsp;&nbsp;<span class="bold">权限分配</span>
            </button>
        </div>

        <table id="table"></table>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal" method="post">

            <!--onkeyup="this.value=this.value.replace(/[, ]/g,'')"  自动消除空格-->
            <div id="typediv1">
                <div id="etlId" type="text" v-model="role.roleId">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">角色名称 &nbsp;<span><font color="red">*</font></span></div>
                <div class="col-sm-10">
                    <input id="roleName" onkeyup="this.value=this.value.replace(/[, ]/g,'')" type="text"
                           class="form-control" v-model="role.roleName" placeholder="请输入..."/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">备注 &nbsp;<span><font color="red">*</font></span></div>
                <div class="col-sm-10">
                    <input id="remark" onkeyup="this.value=this.value.replace(/[, ]/g,'')" type="text"
                           class="form-control" v-model="role.remark" placeholder="请输入..."/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                &nbsp;&nbsp;<input type="button" id="saveSql" class="btn btn-primary" @click="saveOrUpdate" value="保存"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>

</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModalSearch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabelSearch">权限分配</h3>
                <hr>
                <div class="form-horizontal divtoptwo">
                    <div id="test1" style="padding-bottom: 20px"></div>
                    <hr>
                    <div class="form-group" style="width: 100%;text-align: center">
                        <input type="button" class="btn btn-mini btn-primary" onclick="sureObject()" value="确定"/>
                        <input type="button" class="btn btn-mini btn-primary" onclick="Cancel()" value="返回"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 选择菜单 -->
    <div id="menuLayer" style="display: none;padding:10px;">
        <ul id="menuTree" class="ztree"></ul>
    </div>
</div>
<script src="../public/libs/jquery.min.js"></script>
<script src="../public/plugins/layui-2/layui.js"></script>
<script src="../public/plugins/layui-2/layui.all.js"></script>
<script src="../public/libs/bootstrap.min.js"></script>
<script src="../public/libs/vue.min.js"></script>
<script src="../public/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../public/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="../public/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../public/js/common.js"></script>
<script src="../public/js/sys/roleAllot.js"></script>
</body>
</html>